/*-----------------------------------------------------------Général-------------------------------------------------------------------*/

body{
    font-family: 'Raleway', sans-serif;
     font-size: 30px;
}

main{
    width: 100%;   
}

/*---------------------------------------------------------------header--------------------------------------------------------------------------*/
header{
    justify-content: flex-end;
    display: flex;
    height: 120px;
    align-items: center;
    flex-wrap: wrap;
}
/*-------------------------------logo*/
div.logo{
    width: 48%;
    padding-left: 2%;
}

/*-------------------------------menu*/

nav.menu{
    width: 100%;
    height: 100%;
    order: 3;
}

/* 2 éléments nav*/

#heb{
    border-bottom: 3px solid  #F2F2F2;
}

#ac{
    border-bottom: 3px solid  #F2F2F2;
}

#heb:hover{
    border-top: none;
    border-bottom: 3px solid  #0065FC ;
}

#ac:hover{
   border-top: none;
   border-bottom: 3px solid  #0065FC ;
}

/*------------paragraphe "s'inscrire"*/
p#ins{
    width: 48%;
    padding-right: 2%;
}

/*----------------------------------------------------section "Trouvez votre hébergement"-----------------------------------------*/
.trouv{
    padding: 4%;
}

.trouv h1{
    font-size: 30px;
    margin-bottom: 0%;
    margin-right: 20%;
    padding-top: 3%;
    text-align: center;
    
}
/*------------------------------------------------formulaire*/
.formu{
    width:100%;
    justify-content: center;
}
button.text{
    display: none;
}

body > main > section.trouv > div.formu > form{

    width: 100%;

}

/*input#search{
    
}*/
/*-----------------------------------------div des filtres*/
.filtres{
    flex-direction: column;
}

.filtres > p{
    font-size: 1.2rem;
    font-weight: bolder;
    
}

.filtres >.ico{/*div conteneur de l'ensemble des filtres*/
    flex-wrap: wrap;
    margin-top: 0%;
}

body > main > section.trouv > div.filtres > ul > li:nth-child(3){
    margin-right: 50%;
}
/*--------------------------------------------div information*/

/*-----------------------------------------------------section-centrale"Hébergement"------------------------------------------------*/
.hebergements{/*section hébergement*/
    flex-direction: column;
}

.stp{/*div conteneur icônes stars populaires*/
    margin-top: 15%;
}

.heberg{/*------------------------div Hébergement à Marseille*/
    width: 100%;
}

/*--------------------------------aside"Les plus populaires"-*/
.pop{/*div "les plus populaires"*/
    width: 100%;
}


.figurep{/*div contenant chaque figure*/
    height: auto;
}

.figup img{
    height: 175px;
    max-height: 175px;
    
}

.figp{/*<figcaption> populaire*/
    margin: 5px 5px 0px 5px;
    height: auto;
}

.figp p{
    margin: 3% 3% 3% 3%;
}

/*-----------------------------------------------------------section"activitée"--------------------------------------------------------*/

section .activites{/*section activitées*/
    flex-direction: column;
}

.acti{/*div contenant actiGauche + actiDroite*/
        flex-direction: column;
        height: auto;
}

/*-----------------------------------------------------------------footer--------------------------------------------------------------*/

footer{
    flex-direction: column;
}
