body{
    font-family: 'Raleway', sans-serif;
    margin: 40px 40px 40px 40px;
    
}

/*form .fas {
    background-color:rgb(242, 242, 242) ;
    font-size: 65px;
}*/
header {
    justify-content: space-between;
    display: flex;
}

.menu ul{
    display: flex;
}
.rech{
    display: flex;
} 
.esp{
    display: flex;
} 
.filtres{
    display: flex;
} 
.ico{
    
    display: flex;
}
li {
    list-style: none;
    display: flex;
}


.hebergements{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
}
.heberg{
    
    background-color:rgb(242, 242, 242) ;
    width: 65%;
    height: auto;
    padding: 30px 30px 30px 30px;

}

.h_à_m{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.h_à_m  img{
  
   width: 255px;
   height: 110px;
   object-fit: cover;
     
}
.pop{
    background-color:rgb(242, 242, 242) ;
    width: auto;
}



.acti{
    align-self: flex-start;
}
footer {
    background-color:rgb(242, 242, 242) ;
}
figure{
    margin: 0px;
}