body{
    font-family: 'Raleway', sans-serif;
    
}

/*form .fas {
    background-color:rgb(242, 242, 242) ;
    font-size: 65px;
}*/
header {
    justify-content: space-between;
    display: flex;
}

.menu ul{
    display: flex;
}
.rech{
    display: flex;
} 
.esp{
    display: flex;
} 
.filtres{
    display: flex;
} 
.ico{
    
    display: flex;
}
li {
    list-style: none;
    display: flex;
}


.corps{
    display: flex;
}
.heberg{
    background-color:rgb(242, 242, 242) ;
}
.pop{
    background-color:rgb(242, 242, 242) ;
}
footer {
    background-color:rgb(242, 242, 242) ;
}