/*-----------------------------------------------------------Général-------------------------------------------------------------------*/

body{
    font-family: 'Raleway', sans-serif;
     font-size: 18px;
}

main{
    width: 100%;   
}

/*---------------------------------------------------------------header--------------------------------------------------------------------------*/
header{
    flex-wrap: wrap;
}
/*-------------------------------logo*/
div.logo{
    width: 48%;
    padding-left: 2%;
}

/*-------------------------------menu*/

nav.menu{
    width: 100%;
    order: 3;
}

/* 2 éléments nav*/

#heb, #ac{
    border-bottom: 3px solid  #F2F2F2;
    padding: 40px 0px 40px 0px;
}

#ac > a {
    padding-bottom: 0px;
    padding-top: 0px;
}

#heb > a{
    padding: 0px;
}

#heb:hover, #ac:hover{
    border-top: none;
    border-bottom: 3px solid  #0065FC ;
}

/*------------paragraphe "s'inscrire"*/
p#ins{
    width: 48%;
    padding-right: 2%;
}

/*----------------------------------------------------section "Trouvez votre hébergement"-----------------------------------------*/
.trouv{
    padding: 4%;
    height: auto;
}

.trouv h1{
    font-size: 1.1rem;
    margin-bottom: 0%;
    margin-right: 20%;
    text-align: justify;
}

main > section.trouv > p{
    font-size: 0.95rem;
}
/*------------------------------------------------formulaire*/
.formu{/*section conteneur formulaire*/
    width: 100%;
    justify-content: space-between;
    height: auto;

}

span.loc{/* span icône localisation*/
    width: 3.6rem;
    
}
div.formu > form{/*div formulaire*/
    display: flex;
    width: auto;
    justify-content: space-between;
}
input#search{/*zone de recherche*/
    padding: 00.8rem 0rem 0.8rem 0.8rem;
    width: auto;
    min-width: 150px;
    font-size: 0.8rem;
    
}

button.loupe{
    width: 3.6rem;
}
button.text{
    display: none;
}

section.trouv > div.formu > form{
    width: 100%;
}

/*-----------------------------------------div des filtres*/
.filtres{
    flex-direction: column;
}

.filtres > p{
    font-size: 1.2rem;
    font-weight: bolder;
    
}

.filtres >.ico{/*div conteneur de l'ensemble des filtres*/
    flex-wrap: wrap;
    margin-top: 0%;
}

section.trouv > div.filtres > ul > li:nth-child(3){
    margin-right: 50%;
}
/*--------------------------------------------div information*/

/*-----------------------------------------------------section-centrale"Hébergement"------------------------------------------------*/
.hebergements{/*section hébergement*/
    flex-direction: column;
    width: 100%;
}

/*div conteneur icônes stars populaires*/
    


.heberg{/*------------------------div Hébergement à Marseille*/
    width: 100%;
    border-radius: 0px;
    background-color: white;
}

.h_à_m{/*div conteneur figures hebergement*/
    padding: 4%;
    margin: 0px;
}

.figureh{/*figures hébergement*/
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

.figu img{/*images figure hébergement*/
    width: 100%;
    height: 120px;
}

.figh{/*figcaption hebergement*/
    align-items: flex-start;
    justify-content: space-between;
    padding: 1%  0% 0% 4%;
    height: 70px;
}

.figh p{/*paragraphe figcaption hebergement*/
    margin: 0px;
}

#heb-ancre{
    font-size: 1.2rem;
    padding: 4% 0% 0% 6%;
}

section.hebergements > div > p{
    padding-left:  6%;
    margin-top: 0px;
}





/*--------------------------------aside"Les plus populaires"-*/
.pop{/*div "les plus populaires"*/
    width: 100%;
    margin-left: 0%;
    order: -1;
    border-radius: 0%;
}

.popu{/*div tritre + icône*/
    justify-content: space-between;
    padding: 4%;
    padding-bottom: 0%;
}

div.popu > h2{/*titres aside populaire*/
    padding-left: 0%;
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
}


.l_p_p{/*div conteneur figures*/
    padding: 4%;
    padding-top: 0%;
    margin: 0%;
}


.figurep{/*div contenant chaque figure*/
    height: 130px;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

.figup{/*figure populaire*/
    flex-direction: row;
}

.figup img{/*images populaire*/
    width: 40%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}


.figp{/*<figcaption> populaire*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    margin-bottom: 0.5%;
    width: 60%;
    height: auto;
    text-align:left;
    align-items: flex-start;
}

.figp p{/*paragraphe étoiles*/
    margin: 0%;
}

.st{/*conteneur étoiles*/
    padding-left: 0px;
}

/*-----------------------------------------------------------section"activitée"--------------------------------------------------------*/

section.activites{/*section activitées*/
    flex-direction: column;
    padding: 4%;
}

.acti{/*div contenant actiGauche + actiDroite*/
    flex-direction: column;
    height: auto;
}

#ac-ancre{
    margin-bottom: 0px;
}

/*--------------------div*/
div.actiG {
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

div.actiG > div.gauche{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

div.actiG > div.hautG{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

div.actiG > div.basG{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

div.actiD {
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

div.actiD > div.gauche{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

div.actiD > div.hautD{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

div.actiD > div.basD{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}
/*********************************/

/*--------------------figure*/
.img-bas{
    width: 100%;
}
.img-haut{
    width: 100%;
}
.img-gauche{
    width: 100%;
}

.img-basD{
    width: 100%;
}
.img-hautD{
    width: 100%;
}
.img-gaucheD{
    width: 100%;
}
/*******************************/
/*----------------------images*/

div.actiG > div.gauche > a > figure > img{
    height: 130px;
}

div.actiG > div.hautG > a > figure > img{
    height: 130px;
}

div.actiG > div.basG > a > figure > img{
    height: 130px;
}

div.actiD > div.gauche > a > figure > img{
    height: 130px;
}

div.actiD > div.hautD > a > figure > img{
    height: 130px;
}

div.actiD > div.basD > a > figure > img{
    height: 130px;
}
/**************************************/




/*-----------------------------------------------------------------footer--------------------------------------------------------------*/

footer{
    flex-direction: column;
}

body > footer > ul:nth-child(-n+3){/*les 3 listes du footer*/
    margin-right: 0px;
    margin-top: 3rem;
}

body > footer > ul:nth-child(3){/*3ème liste du footer*/
    margin-bottom: 2rem;
}


