/*-----------------------------------------------------------Général-------------------------------------------------------------------*/

body{
    font-family: 'Raleway', sans-serif;
     font-size: 18px;
}

main{
    width: 100%;   
}

figure{
    width: 100%;
}

/*---------------------------------------------------------------header--------------------------------------------------------------------------*/
header{
    flex-wrap: wrap;
}
/*-------------------------------logo*/
div.logo{
    width: 48%;
    padding-left: 2%;
}

/*-------------------------------menu*/

nav.menu{
    width: 100%;
    order: 3;
}

/* 2 éléments nav*/

#heb, #ac{
    border-bottom: 3px solid  #F2F2F2;
    padding: 40px 0px 40px 0px;
}

#ac > a {
    padding-bottom: 0px;
    padding-top: 0px;
}

#heb > a{
    padding: 0px;
}

#heb:hover, #ac:hover{
    border-top: none;
    border-bottom: 3px solid  #0065FC ;
}

/*------------paragraphe "s'inscrire"*/
p#ins{
    width: 48%;
    padding-right: 2%;
}

/*----------------------------------------------------section "Trouvez votre hébergement"-----------------------------------------*/
.trouv{
    padding: 4%;
    height: auto;
}

.trouv h1{
    font-size: 1.1rem;
    margin-bottom: 0%;
    margin-right: 20%;
    text-align: justify;
}

main > section.trouv > p{
    font-size: 0.95rem;
}
/*------------------------------------------------formulaire*/
/*section conteneur formulaire*/
.formu{
    width: 100%;
    justify-content: space-between;
    height: auto;
}

/* span icône localisation*/
span.loc{
    width: 3.6rem;
}

/*div formulaire*/
div.formu > form{
    display: flex;
    width: auto;
    justify-content: space-between;
}

/*zone de recherche*/
input#search{
    padding: 00.8rem 0rem 0.8rem 0.8rem;
    width: auto;
    min-width: 150px;
    font-size: 0.8rem;
    
}

button.loupe{
    width: 3.6rem;
}
button.text{
    display: none;
}

section.trouv > div.formu > form{
    width: 100%;
}

/*-----------------------------------------div des filtres*/
.filtres{
    flex-direction: column;
}

.filtres > p{
    font-size: 1.2rem;
    font-weight: bolder;
    
}

/*div conteneur de l'ensemble des filtres*/
.filtres >.ico{
    flex-wrap: wrap;
    margin-top: 0%;
}

section.trouv > div.filtres > ul > li:nth-child(3){
    margin-right: 50%;
}
/*--------------------------------------------div information*/

/*-----------------------------------------------------section-centrale"Hébergement"------------------------------------------------*/
/*section hébergement*/
.hebergements{
    flex-direction: column;
    width: 100%;
}

/*------------------------div Hébergement à Marseille*/
.heberg{
    width: 100%;
    border-radius: 0px;
    background-color: white;
}

/*div conteneur figures hebergement*/
.h_à_m{
    padding: 4%;
    margin: 0px;
}

/*figures hébergement*/
.figureh{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

/*images figure hébergement*/
.figu img{
    width: 100%;
    height: 120px;
}

/*figcaption hebergement*/
.figh{
    align-items: flex-start;
    justify-content: space-between;
    padding: 1%  0% 0% 4%;
    height: 70px;
}

/*paragraphe figcaption hebergement*/
.figh p{
    margin: 0px;
}

#heb-ancre{
    font-size: 1.2rem;
    padding: 4% 0% 0% 6%;
}

section.hebergements > div > p{
    padding-left:  6%;
    margin-top: 0px;
}





/*--------------------------------aside"Les plus populaires"-*/
/*div "les plus populaires"*/
.pop{
    width: 100%;
    margin-left: 0%;
    order: -1;
    border-radius: 0%;
}

/*div tritre + icône*/
.popu{
    justify-content: space-between;
    padding: 4%;
    padding-bottom: 0%;
}

/*titres aside populaire*/
div.popu > h2{
    padding-left: 0%;
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
}

/*div conteneur figures*/
.l_p_p{
    padding: 4%;
    padding-top: 0%;
    margin: 0%;
}

/*div contenant chaque figure*/
.figurep{
    height: 130px;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

/*figure populaire*/
.figup{
    flex-direction: row;
}

/*images populaire*/
.figup img{
    width: 40%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

/*<figcaption> populaire*/
.figp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    margin-bottom: 0.5%;
    width: 60%;
    height: auto;
    text-align:left;
    align-items: flex-start;
}

/*paragraphe étoiles*/
.figp p{
    margin: 0%;
}

/*conteneur étoiles*/
.st{
    padding-left: 0px;
}

/*-----------------------------------------------------------section"activitée"--------------------------------------------------------*/
/*section activitées*/
section.activites{
    flex-direction: column;
    padding: 4%;
}

/*div contenant actiGauche + actiDroite*/
.acti{
    flex-direction: column;
    height: auto;
}

#ac-ancre{
    margin-bottom: 0px;
}

/*--------------------div*/
.acti > div{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

div.actiG > div{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

div.actiD > div{
    width: 100%;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

/*----------------------images*/

div.actiG > div.gauche > a > figure > img{
    height: 130px;
}

div.actiG > div.hautG > a > figure > img{
    height: 130px;
}

div.actiG > div.basG > a > figure > img{
    height: 130px;
}

div.actiD > div.gauche > a > figure > img{
    height: 130px;
}

div.actiD > div.hautD > a > figure > img{
    height: 130px;
}

div.actiD > div.basD > a > figure > img{
    height: 130px;
}
/**************************************/




/*-----------------------------------------------------------------footer--------------------------------------------------------------*/

footer{
    flex-direction: column;
}

body > footer > ul:nth-child(-n+3){/*les 3 listes du footer*/
    margin-right: 0px;
    margin-top: 3rem;
}

body > footer > ul:nth-child(3){/*3ème liste du footer*/
    margin-bottom: 2rem;
}


