/*-----------------------------------------------------------Général-------------------------------------------------------------------*/

body{
    font-family: 'Raleway', sans-serif;
     font-size: 14px;
}

main{
    width: 96%;
    margin: 0px auto;
}

h1{
    font-size: 1.5rem;
    font-weight: bolder;
}
h2{
    font-size: 1.5rem;
    font-weight: bolder;
}

p {
    font-size: 1rem;
}

figure{
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
   
}

li {
    list-style: none;
    display: flex;
}

a:link{
    text-decoration: none;
    color: black;
}



/*---------------------------------------------------------------header--------------------------------------------------------------------------*/

header{
    justify-content: flex-end;
    display: flex;
    height: auto;
    align-items: center;
}
/*-------------------------------logo*/
div.logo {
    width: 70%;
}

/*-------------------------------menu*/
nav.menu{
    width: 25%;
    height: 100%;
}

nav.menu ul{
    display: flex;
    justify-content: center;
    padding: 0%;
    height: 100%;
    align-items: center;
    margin: 0px;
    width: 100%;
}

/* 2 éléments nav*/

#heb, #ac{
    width: 50%;
    justify-content: center;
}

#heb > a, #ac > a{
    color: #0065FC ;
    font-weight: 500;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
}

#ac > a{
    font-weight: 600;
}

#heb:hover{
    border-top: 3px solid #0065FC;
}

#ac:hover{
    border-top: 3px solid black;
}


p#ins{
    display: inline-block;
    color: #0065FC ;
    width: 6.25%;
    font-weight: bolder;
    padding-top: 3%;
    padding-bottom: 2.189%;
    text-align: end;
    margin: 0%;
    height: 22%;

}


/*----------------------------------------------------section "Trouvez votre hébergement"-----------------------------------------*/
.trouv{
    height: auto;
    
}
.trouv h1{
    margin-bottom: 0%;
}
/*------------------------------------------------formulaire*/
.formu{
    display: inline-flex;
    border: 1px solid #F2F2F2;
    width: auto;
    height: auto;
    border-radius: 15px;
}

span.loc{     /*icône de localisation*/
    border: 1px solid #F2F2F2;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    background-color:  #F2F2F3;
}


div.formu > span > i{/*span icône localisation*/
    font-size: 16px;
    width: 3rem;
    height: 2.1rem;
    position: relative;
    left: 40%;
    top: 25%;
}

button{
    cursor:pointer;
    color: white ;
    background-color:  #0065FC;
    border: none;
}
/*boutton rechercher*/
button.text{
    font-weight: bolder;
    padding: 1rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
    font-size: 1rem;
}
button.loupe{    /*bouton icône loupe*/
   text-align: center;
    padding: 1.2rem;
    border-radius: 30%;
}

@media all and (min-width: 769px){
  button.loupe{  display: none;
}
}



input#search{/*zone de recherche*/
        border: none;
        padding: 1rem;
        padding-right: 2rem;
        font-size: 1rem;
        font-weight: bold;
        

}

input#search::placeholder{/*texte prédéfini*/
    color: black;
    font-weight: bolder;
}


/*-----------------------------------------div des filtres*/
.filtres{
    display: flex;
}

.filtres > p{
    padding-top: 1rem;
    margin-right: 1rem;
}

.filtres >.ico{/*div conteneur de l'ensemble des filtres*/
    display: flex;
    padding: 0%;
}

.filtres > .ico > .ic{/*div conteneur filtre*/
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 40px;
    height: 56px;
    border: 3px solid #F2F2F2 ;
    margin-right: 1rem;

}

.filtres > .ico > .ic:hover{/*div conteneur filtre au survol*/
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 40px;
    height: 60px;
    border: 4px groove #dddada;
    margin-right: 1rem;
    background-color: rgb(215, 248, 215);
    box-shadow: 3px -3px 4px rgba(75, 15, 15, 0.5);
    
}

.filtres >.ico > .ic > p {/*paragraphe autour du filtre*/
    padding: 1rem;
    margin: 0%;
}

.filtres > .ico > .ic > .fas{/*icônes filtres*/
    position: relative;
    top: -3px;
    left: -3px;
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    padding: 1rem;
    padding-top: 1.4rem;
    border-radius: 50%;
    width: 25px;
    height: 17px;
}

.filtres > .ico > .ic > .fas:hover{/*icônes filtres au survol*/
    position: relative;
    top: 0px;
    left: 0px;
    color:   #dd7fd5;
    background-color:rgb(215, 248, 215);
    text-align: center;
    padding: 1rem;
    width: 20px;
    height: 20px;
}
/*--------------------------------------------div information*/
.info{ /*div "plus de 500 logements"*/
    display: flex;
} 

.fa-info::before {    /* icône d'information*/
    color:  #0065FC;
    border: 2px solid #F2F2F2; 
    background-color:  white;
    border-radius: 50%;
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 00.6rem;
}

p.infopara { /*paragraphe d'information*/
    padding-left: 10px;
}

/*-----------------------------------------------------section-centrale"Hébergement"------------------------------------------------*/
.hebergements{/*section hébergement*/
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
}

.heberg h2{/*titres hébergement*/
    padding-left: 2.6%;
    margin: 0px;
}

section.hebergements > aside > div.popu > h2{
    padding-left: 7%;/*titres populaires*/
    margin: 0px;
}

.nomlieu{
    font-size: 1.1rem;
    font-weight: bolder;
}


.prix{
    font-weight: bold;
}

.st{/*div conteneur icônes stars hébergement*/
    padding-left: 4px;
    padding-bottom: 4px;
    display: flex;
}

.stp{/*div conteneur icônes stars populaires*/
    display: flex;
    padding: 0% 0% 1% 2%;

}

p.stb, p.stg{/*paragraphe icônes stars*/
    display: inline-block;
    margin-right: 0px;
}

p.stg{/*paragraphe icône stars grises*/
    margin-left: 0px;
}
p.stg .fas{/*icône stars grise*/
    color:rgb(218, 218, 218) ;
}

p.stb .fas{/*icône stars bleues*/
    color:#0065FC ;
}

section.hebergements > div > div > div:nth-child(-n+6) > a > figure > figcaption > div > p.stb{
    margin: 0px;/*paragraphe autour étoiles bleues*/
}

section.hebergements > div > div > div:nth-child(-n+6) > a > figure > figcaption > div > p.stg{
margin: 0px;/*paragraphe autour étoiles grise*/
}

.heberg{/*------------------------div Hébergement à Marseille*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(242, 242, 242) ;
    width: 62.5%;
    height: 100%;
    padding: 3.5% 1.5%;
    border-radius: 2%;
}

.h_à_m{/* div conteneur des <figure>*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin: 0.8rem;
    margin-top: 0px;
}

.figureh{/*div contenant chaque <figure>*/
    margin: 2.5% 1.5% 2% 1.5%;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    height: auto;
    width: 29.15%;
    min-width: 195px;
    box-shadow: -3px 3px 10px 4px rgba(216, 216, 216, 0.5);
}

.figu{/*figure hebergement*/
    width: 100%;
    margin: 0%;
    height: auto;
}

.figureh a{ 
    width: 100%;
    height: 100%;
}

.figu img{/*image*/
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.figh{/*figcaption hébergement*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}

.figh p{
    margin: 5px 5px 0px 5px;
}


/*--------------------------------aside"Les plus populaires"-*/
.pop{/*div "les plus populaires"*/
    background-color:rgb(242, 242, 242) ;
    width: 27.1%;
    padding: 3.5% 1.5% 1.5% 1.5%;
    border-radius: 2%;
    margin-left: 0%;
}

/*conteneur titre + icône schéma*/
.popu{
    display: flex;
}

/*paragraphe contenant l'icône shéma*/
div.popu > p{
    margin-top: 0px;
    margin-left: 25%;
}

div.popu > p > i{
    font-size: 1.5rem;/*icône shéma*/
}

.l_p_p{/*conteneur <figure>*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem;
    margin-top: 0px;
}

.figurep{/*div contenant chaque figure*/
    background-color: white;
    border-radius: 20px;
    margin: 4% 1.1% 3.5% 1%;
    padding: 5px;
    height: 150px;
    width: 100%;
    box-shadow: -3px 3px 10px 4px rgba(216, 216, 216, 0.5);
}

.figurep a{
    width: 100%;
    height: auto;
}

.figup{ /*<figure> populaire*/
    display: flex;
    margin: 0px;
    height: auto;
}

.figup img{ /*image figure populaire*/
    width: 40%;
    height: 148px;
    max-height: 148px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.figp{/*<figcaption> populaire*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    width: 60%;
}

.figp p{
    margin: 0% 3% 0% 3%;
}

div.l_p_p > div:nth-child(-n+3) > a > figure > figcaption > p:nth-child(2){
    margin-bottom: 15%;
}

div.l_p_p > div:nth-child(-n+3) > a > figure > figcaption > div > p.stb{
    margin: 0px;/* paragraphe autour étoile bleues*/
}
div.l_p_p > div:nth-child(-n+3) > a > figure > figcaption > div > p.stg{
    margin: 0px;/*paragraphe autoour étoiles grises*/
}


/*-----------------------------------------------------------section"activitée"--------------------------------------------------------*/

section .activites{/*section activitées*/
    display: flex;
}

.actifig{/*figcaption section activitées*/
    padding: 1rem;
    font-weight: bolder;
}

section.hebergements > div > p{
    font-weight: bold;
}

.acti{/*div contenant actiGauche + actiDroite*/
        display: flex;
        height: 500px;
        justify-content: space-between;
        
}

.actiG > div, .actiD > div{
    width: 47%;
    background-color: white;
    border-radius: 20px;
    box-shadow: -3px 3px 10px 4px rgba(216, 216, 216, 0.5);
}

.actiG, .actiD{/*div Gauche*//*div Droite*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 48%;
    background-color: white;
    height: auto;
 }
    
.gauche{/*div conteneur <figure> de gauche*/
    margin-right: 6%;
    width: 47%;
}

.hautG{/*div conteneur <figure> du haut partie gauche*/
    margin-bottom: 2%;
}

.basG{/*div conteneur <figure> du bas partie gauche*/
    margin-top: 2.4%;
  
}

.img-basD{
    width: 100%;
}

.hautD{/*div conteneur <figure> du haut partie droite*/
    margin-bottom: 2%;
}
    
.basD{/*div conteneur <figure> du bas partie droite*/
   margin-top: 3%;
}

/*---------------------liens prenant toute la surface*/
.acti > a{
    width: 100%;
    height: 100%;
}

.acti__img{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

div.actiG > div.gauche > a > figure > img{
    height: 430px;/*image gauche partie gauche*/
}

/*image du haut partie gauche*/
.actiG > div.hautG > a > figure > img {
   height: 210px;
}

.actiG > div.hautG > a > figure{
    width: 100%;
}

.actiG > div.basG > a > figure{
    width: 100%;
}

.actiD > div.hautD > a > figure{
    width: 100%;
}

.actiG > div.basG > a > figure > img{
    /*image du bas partie gauche*/
    height: 130px;
}

div.actiD > div.gauche > a > figure > img{
    height: 430px;/*image gauche partiedroite*/
}

div.actiD > div.hautD > a > figure > img, div.actiD > div.basD > a > figure > img{
    /*image du haut partie droite*/
    height: 170px;   
}
 

/*-----------------------------------------------------------------footer--------------------------------------------------------------*/

footer{
    display: flex;
    background-color: rgb(242, 242, 242) ;
    padding: 1rem;
    margin-top: 3rem;
}

body > footer > ul{/*Liste footer*/
    padding-left: 0%;
    margin-top: 2rem;
    margin-right: 13rem;
    margin-bottom: 0%;
    margin-left: 2rem;
}

body > footer > ul > li{/*ligne liste footer*/
    margin-top: 1rem;
    margin-bottom:0%;
    font-weight: 500;
}


body > footer > ul > li:nth-child(1){/* police gars premier enfant liste*/
    font-weight: bold;
}


@media all and (min-width: 1265px)  and (max-width: 1465px){
    .figu img{/*image*/
        width: 330px;
        height: 120px;
    }
    .figureh{/*div contenant chaque <figure>*/
        margin: 2.5% 1.5% 2% 1.5%;
        padding: 5px;
        width: auto;
        min-width: 190px;
        box-shadow: -3px 3px 10px 4px rgba(216, 216, 216, 0.5);
    }


}



